@font-face {
    font-family: 'fzzb';
    src: url(fzzb.ttf);
}

html,
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 600px;
    font-family: 'fzzb', 'Microsoft Yahei';
    font-size: 14px;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px #5d2822;
    text-shadow: 2px 2px 3px #5d2822;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.layer-top {
    z-index: 3;
}

.layer-center {
    z-index: 2;
    background-image: url(assets/bg.png);
    background-size: 100% 100%;
}

.layer-center.cover {
    background-image: url(assets/bg_cover.jpg);
}

.layer-bottom {
    z-index: 1;
    background-image: url(assets/bg_skit/1986.jpg);
    background-size: 85%;
    background-position: 10% 34%;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.btn {
    position: absolute;
    bottom: 10%;
}

.btn-enter {
    left: 0;
    margin-left: 10%;
    width: 80%;
}

.step .pic-title {
    margin: 5% 10%;
    width: 80%;
}

.step .title {
    font-size: 3.2em;
    text-align: center;
}

.step .quizbox {
    position: absolute;
    bottom: 20px;
    margin: 0 5%;
    padding: 2em 0;
    width: 90%;
    height: 23%;
    background-image: url(assets/bg_quiz.png);
    background-size: 100% 100%;
}

.step .quest {
    margin: 0 0 0.6em 0;
    font-size: 1.8em;
    text-align: center;
    text-indent: 0.5em;
}

.step .answer {
    margin: 0;
    padding-left: 20%;
    font-size: 1.5em;
    list-style: none;
}

.step .answer li {
    width: auto;
    font-size: 1.2em;
    line-height: 1.5em;
}

.step .answer li.selected,
.step .result span {
    -webkit-text-fill-color: #f05c1e;
}

.step .answer li span {
    margin-right: 1em;
}

.step .btn-next,
.step .btn-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
}

.step .result {
    margin: 50% 0 10% 0;
    font-size: 3em;
    text-align: center;
}

.step .result span {
    display: inline-block;
    width: 2em;
}

.step .desc {
    padding: 0 20px;
    font-size: 2em;
    text-align: center;
}

.step .btn-again {
    left: 50%;
    margin-left: -42%;
    width: 40%;
}

.step .btn-share {
    right: 50%;
    margin-right: -42%;
    width: 40%;
}

.notice div {
    position: absolute;
    z-index: 4;
}

.notice .btn-gua {
    width: 60px;
    height: 60px;
    left: 0;
    top: 50%;
}

.notice .btn-bing {
    width: 120px;
    height: 100px;
    right: 0;
    top: 50%;
}

.notice p {
    font-size: 1.5em;
    text-align: center;
    opacity: 0;
    transition: opacity ease .5s;
}

.notice p.show {
    opacity: 1;
}

.notice .p-gua {
    width: 100px;
    margin: -1em 0 0 -1em;
    transform: rotate(-20deg);
}

.notice .p-bing {
    width: 150px;
    margin: 4em 0 0 -2em;
    transform: rotate(25deg);
}
